@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GIF Extractor</title>
    <!-- Estilos CSS aquí -->
</head>
<body>
    <div class="header">
        <h1><a href="/">GIF Extractor</a></h1>
    </div>

    <section>
        <form method="get">
            <input class="text" type="text" name="url" placeholder="ingresa el nombre del gif" value="@Model.Url">
            <input class="button" type="submit" value="Extraer Gif">
        </form>
    </section>

    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <section>
            <h2>Error</h2>
            <p class="error">@Model.Error</p>
        </section>
    }

    @if (!string.IsNullOrEmpty(Model.Url) && string.IsNullOrEmpty(Model.Error))
    {
        <section>
            <h2>Detalles</h2>
            <table>
                <tr>
                    <th>GIF</th>
                    <th># Links</th>
                </tr>
                @foreach (var kvp in Model.DomainCounts)
                {
                    <tr>
                        <td>@kvp.Key</td>
                        <td>@kvp.Value</td>
                    </tr>
                }
            </table>
        </section>

        <section>
            <h2>GIF</h2>
            <img src="@Model.Links.FirstOrDefault().Text" width="500" height="500">
            @foreach (var link in Model.Links)
            {
                <img src="@link.Href">
            }
        </section>

        <section>
            <h2>Link</h2>
            <ul>
                @foreach (var link in Model.Links)
                {
                    <li><a href="@link.Href">LINK DEL GIF</a></li>
                }
            </ul>
        </section>
    }
</body>
</html>
